:root{
    --primary-color-grey:#707070;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    box-sizing: border-box;
    
}
.my-web{
    max-width: 100%;
    min-width: 40px;
}
.nav-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.main-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    color: black;
    font-weight: 700;
    gap: 5px;

}
.span-nusery{
    color: #11ac13;
}
.home-list{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.search-bar input{
    width: 600px;
    padding: 10px;
    font-size: 15px;
    border:1px solid #f2f2f2;
    box-shadow: 1px 1px 5px rgb(63, 63, 59);
    outline: none;
    text-transform: capitalize;
    font-weight: 600;
}
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6b6b;
    border: navajowhite;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 11px;
    
}
.anchor-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-left: 30px;
    font-size: 20px;
    
}
.anchor-tags a{
    text-decoration: none;
    color: var(--primary-color-grey);
}
.location-btn{
    font-size: 25px;
    border: none;
    outline: none;
    background-color: white;
}
.cart-btn{
    font-size: 25px;
     border: none;
    outline: none;
    background-color: white;
}
.list-tags{
    padding: 12px;
    margin: auto 20px;
    display: flex;
    gap: 30px;
    
}
.list-tags a{
    text-decoration: none;
    color: var(--primary-color-grey);
    font-weight: 600;
    
}
.scroll-imgs div{
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}
.scroll-imgs{
    display: flex;
    overflow-x: auto; 
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.scroll-imgs img{
    width: 100%;
}
.move-btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 300px;
}
.btn{
    width: 100%;
    color: black;
    font-size: 60px;
    background-color: transparent;
    outline: none;
    border: none;
    
}
.left-btn{
    display: flex;
    justify-content: flex-start;
}
.right-btn{
    display: flex;
    justify-content: flex-end;
}
.circle-img-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px 10px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.circle-img{
    size: 10px;
    margin: auto 20px;
    margin-left: -10px;
} 
.item-center{
    display: flex;

}
.item-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;
    background-color: #f1f1f1;
}
.item-center img{
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: auto;
    display: block;
}
.item-center div{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.5px solid var(--primary-color-grey);
    max-width: 250px;
    margin: 20px;
    padding: 20px;
}
.card img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: auto;
   
}
.write-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding: 20px;
    max-width: 300px;
    max-height: auto;
}
.money{
    display: flex;
    justify-content: flex-start;
}



